---
---

//constants
$white-color: #FFF;
$main-image: url('/assets/img/team_0.jpg');
$about-image: url('/assets/img/team_1.jpg');
$team-support-image: url('/assets/img/team_2.jpg');
$follow-image: url('/assets/img/team_3.jpg');
$contact-image: url('/assets/img/team_4.jpg');
$calendar-image: url('/assets/img/background_2.png');
$student-info-image: url('/assets/img/team_5.jpg');

//backgrounds
.main-background {
  background: $main-image center / cover;
}

.about-background {
  background: $about-image top / cover;
}

.team-support-background {
  background: $team-support-image top / cover
}

.follow-background {
  background: $follow-image top / cover;
}

.contact-background {
  background: $contact-image center / cover;
}

.calendar-background {
  background: $calendar-image top / cover;
}

.student-info-background {
  background: $student-info-image bottom / cover
}

.contact-info-background {
  background: $contact-image center / cover
}

//heading
.heading {
  width: 100%;
  min-height: 400px;
}

.heading-text {
  padding: 20vh 0 40px 10vw;
  color: $white-color;
}

.heading-title {
  margin-bottom: 10px;
  line-height: 1;
  color: $white-color;
}

.heading-tagline {
  margin-left: 5vw;
  line-height: 1;
}

@media all and (min-width: 360px) {
  .heading-title {
    font-size: 6em;
  }

  .heading-tagline {
    font-size: 1.5em;
  }
}

@media all and (max-width: 359px) {
  .heading-title {
    font-size: 3em;
  }

  .heading-tagline {
    font-size: 1em;
  }
}

//buttons
.down-button {
  display: block;
  margin: -30px auto 0 auto;
}

//cards
.card {
  .mdl-card__title {
    color: #fff;
    height: 176px;
  }

  .mdl-card__menu {
    color: #fff;
  }
}

.wide-card {
  width: 512px;
}

.thin-card {
  width: 320px;
}

.page-card {
  width: 75%;
  min-width: 300px;
  max-width: 1000px;
}

.who-are-we {
  .mdl-card__title {
    background: $about-image top / cover;
  }
}

.team-support {
  .mdl-card__title {
    background: $team-support-image top / cover;
  }
}

.follow {
  .mdl-card__title {
    background: $follow-image top / cover;
  }
}

.contact {
  .mdl-card__title {
    background: $contact-image center / cover;
  }
}

.calendar {
  .mdl-card__title {
    background: $calendar-image top / cover;
  }
}

.student-info {
  .mdl-card__title {
    background: $student-info-image bottom / cover;
  }
}

.social {
  display: inline-block;
}

iframe {
  display: inline-block;
}

.content {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  justify-content: center;
  -webkit-justify-content: center;
}
