---
---

//constants
$white-color: #FFF;
$main-image: url('/assets/img/2018_season/2018_team.jpg');
$about-image: url('https://farm2.staticflickr.com/1937/31254660688_e0a79991ce_k.jpg');
$team-support-image: url('https://farm2.staticflickr.com/1959/30223478907_448511ab44_k.jpg');
$follow-image: url('img src="https://farm2.staticflickr.com/1917/45079299802_f9517c6532_k.jpg');
$contact-image: url('https://farm2.staticflickr.com/1963/45384509682_b8b6717893_k.jpg');
$calendar-image: url('https://farm2.staticflickr.com/1976/43314863270_4c251f5c46_k.jpg');
$robots-info-image: url('https://farm2.staticflickr.com/1920/31254542018_40c1af9205_k.jpg');
$nmf-image: url('/assets/img/2017_sponsors/nmf.png');
$intuitive-image: url('/assets/img/2017_sponsors/intuitive.png');
$bw-image: url('/assets/img/2017_sponsors/brinwojcicki.png');
$ans-image: url('/assets/img/2016_sponsors/ans.png');
$apinel-image: url('/assets/img/2017_sponsors/alainpinel.png');
$ace-image: url('/assets/img/2017_sponsors/ace.png');
$github-image: url('/assets/img/2017_sponsors/GitHub_Logo.png');
$gene-haas-image: url('/assets/img/2017_sponsors/GHF_Logo.gif');
$home-depot-image: url('/assets/img/2017_sponsors/homedepot.jpg');
$cadence-image: url('/assets/img/2017_sponsors/cadence.png');
$baesystems-image: url('/assets/img/2017_sponsors/baesystems.png');
$dod-image: url('/assets/img/2017_sponsors/dod.jpg');
$kiwanis-image: url('/assets/img/2017_sponsors/kiwanis.gif');
$nowandforever-image: url('/assets/img/2017_sponsors/nowandforever.png');
$ponyexpress-image: url('/assets/img/2017_sponsors/ponyexpress.png');
$lgsuhsd-image: url('/assets/img/2017_sponsors/lgsuhsd.png');
$rotary-image: url('/assets/img/2017_sponsors/rotary.png');
$cambrian-image: url('/assets/img/2017_sponsors/cambrian.jpg');
$plethora-image: url('/assets/img/2017_sponsors/plethora.svg');
$saphotonics-image: url('/assets/img/2017_sponsors/saphotonics.png');
$atg-image: url('/assets/img/2017_sponsors/atg.png');
$nvidia-image: url('/assets/img/2017_sponsors/nvidia.png');
$polycarb-image: url('/assets/img/2017_season/2017_polycarb.jpg');
$shirt-image: url('/assets/img/2017_season/2017_shirt.jpg');
$aeronet-image: url('/assets/img/2018_sponsors/aeronet.jpg');
$brracing-image: url('/assets/img/2018_sponsors/br.PNG');
$tcfo-image: url('/assets/img/2018_sponsors/tcfo.PNG');
$lglions-image: url('/assets/img/2018_sponsors/lglions.PNG');
$dma-image: url('/assets/img/2018_sponsors/dma.PNG');
$facilitron-image: url('/assets/img/2018_sponsors/facilitron.png');
$hallandburnett-image: url('/assets/img/2018_sponsors/hb.png');
$qualcomm-image: url('/assets/img/2018_sponsors/qualcomm.png');


//custom fonts

@font-face {
   font-family: bladeRunner;
   src: url(/assets/fonts/bladeRunner.TTF);
}

//backgrounds
.main-background {
  background: $main-image center / cover;
}

.about-background {
  background: $about-image top / cover;
}

.team-support-background {
  background: $team-support-image bottom / cover;
}

.follow-background {
  background: $follow-image top / cover;
}

.contact-background {
  background: $contact-image center / cover;
}

.calendar-background {
  background: $calendar-image bottom / cover;
}

.robots-info-background {
  background: $robots-info-image bottom / cover;
}

.contact-info-background {
  background: $contact-image center / cover;
}

//heading
.heading {
  width: 100%;
  min-height: 400px;
}

.heading-text {
  padding: 10vh 0 40px 10vw;
  color: $white-color;
  font-family: bladeRunner;
}

.heading-title {
    padding: 0vh 0 10px 0vw;
  margin-bottom: 10px;
  line-height: 1;
  color: $white-color;
  font-family: bladeRunner;
  text-shadow: 2px 2px #000000;
}

.heading-tagline {
  margin-left: 5vw;
  line-height: 1;
  text-shadow: 2px 2px #000000;
}

@media all and (min-width: 380px) {
  .heading-title {
    font-size: 4.5em;
  }

  .heading-tagline {
    font-size: 2em;
  }
}

@media all and (max-width: 379px) {
  .heading-title {
    font-size: 3em;
  }

  .heading-tagline {
    font-size: 1.5em;
  }
}

//buttons
.down-button {
  display: block;
  margin: -30px auto 0 auto;
}

//cards
.card {
  .mdl-card__title {
    color: #fff;
    height: 250px; // previously 176px
    text-shadow: 1px 1px #000000;
  }

  .mdl-card__menu {
    color: #fff;
  }
}

.wide-card {
  width: 512px;
}

.thin-card {
  width: 320px;
}

.page-card {
  width: 75%;
  min-width: 300px;
  max-width: 1000px;
}

.who-are-we {
  .mdl-card__title {
    background: $about-image center / cover;
  }
}

.team-support {
  .mdl-card__title {
    background: $team-support-image bottom / cover;
  }
}

.follow {
  .mdl-card__title {
    background: $follow-image top / cover;
  }
}

.contact {
  .mdl-card__title {
    background: $contact-image center / cover;
  }
}

.calendar {
  .mdl-card__title {
    background: $calendar-image top / cover;
  }
}

.robots-info {
  .mdl-card__title {
    background: $robots-info-image bottom / cover;
  }
}

sponsors-table {
    resize: both; overflow: auto; width: 100%; height: 200%;
}

.social {
  display: inline-block;
}

iframe {
  display: inline-block;
}

.content {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  justify-content: center;
  -webkit-justify-content: center;
}

.centered-heading {
  text-align: center;
}

.gold-height {
  height: 100px;
}

.silver-height {
  height: 75px;
}

.bronze-height {
  height: 50px;
}

.nmf {
  background: $nmf-image no-repeat center / contain;
}

.intuitive {
  background: $intuitive-image no-repeat center / contain;
}

.bwf {
  background: $bw-image no-repeat center / contain;
}

.ans {
  background: $ans-image no-repeat center / contain;
}

.apinel {
  background: $apinel-image no-repeat center / contain;
}

.ace {
  background: $ace-image no-repeat center / contain;
}

.github {
  background: $github-image no-repeat center / contain;
}

.ghf {
  background: $gene-haas-image no-repeat center / contain;
}

.home-depot {
  background: $home-depot-image no-repeat center / contain;
}

.cadence {
  background: $cadence-image no-repeat center / contain;
}

.baesystems {
  background: $baesystems-image no-repeat center / contain;
}

.dod {
  background: $dod-image no-repeat center / contain;
}

.kiwanis {
  background: $kiwanis-image no-repeat center / contain;
}

.nowandforever {
  background: $nowandforever-image no-repeat center / contain;
}

.ponyexpress {
  background: $ponyexpress-image no-repeat center / contain;
}

.lgsuhsd {
  background: $lgsuhsd-image no-repeat center / contain;
}

.cambrian {
  background: $cambrian-image no-repeat center / contain;
}

.plethora {
  background: $plethora-image no-repeat center / contain;
}

.saphotonics {
  background: $saphotonics-image no-repeat center / contain;
}

.atg {
  background: $atg-image no-repeat center / contain;
}

.nvidia {
  background: $nvidia-image no-repeat center / contain;
}

.rotary {
  background: $rotary-image no-repeat center / contain;
}


.robot-polycarb {
  background: $polycarb-image no-repeat center / contain;
}

.robot-shirt {
  background: $shirt-image no-repeat center / contain;
}

.aeronet {
  background: $aeronet-image no-repeat center / contain;
}

.brracing {
  background: $brracing-image no-repeat center / contain;
}

.tcfo {
  background: $tcfo-image no-repeat center / contain;
}

.lglions {
  background: $lglions-image no-repeat center / contain;
}

.dma {
  background: $dma-image no-repeat center / contain;
}

.facilitron {
  background: $facilitron-image no-repeat center / contain;
}

.hallandburnett {
  background: $hallandburnett-image no-repeat center / contain;
}

.qualcomm {
  background: $qualcomm-image no-repeat center / contain;
}

.center-grid {
  margin: 10px auto;
}

.picture-height {
  height: 350px;
}
    
.picture-width {
    width: 450px;
    max-width: 100%;
    height: auto;
}
